body {
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;

}
/* .content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    

} */

/* HEADER SECTION */

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;

}
.header{
    display: flex;
    background-color: #1F2939;
    justify-content: center
}

.header-inside-box{
    display: flex;
    width: 100%;
    max-width: 1200px;
    
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
    background-color: #1F2939;
    color: white;
}
.header-logo{
    /* display: flex; */
    padding: 0;
    margin: 0;
    margin-left: 20px;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* INTRO SECTION */
.intro{
    background-color: #1F2939;
    display: flex;
    justify-content: center;
}
.intro-inside-box{
    max-width: 1200px;
    width: 100%;
    display: flex;
    
    min-height: 400px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}
.intro-text{
    margin-left: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 243px;
    max-width:536px;
}
.intro-heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 20px 0;
}
.intro-para{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
    
}
.intro-button{
    background-color: #3882F6;
    border-radius: 4px;
    padding: 10px 30px;
    outline: none;
    border: none;
    margin-bottom: 30px;
}
a{
    color: white;
}
.intro-image{
    display: flex;
    flex-grow: 0;
    min-width: auto;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    
}
.real-image{
    width: 500px;
    margin-left: 30px;
    margin-right: 30px;

}

/* INFORMATION SECTION */
.info{
    display: flex;
    justify-content: center;
}
.info-inside-box{
    max-width: 1200px;
    width: 100%;
    display: flex;
    min-height: auto;
    
    flex-direction: column;
    /* justify-content: center; */
    
    
}
.info-heading{
   
   display: flex;
   justify-content: center;
   margin: 30px;
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
}

.info-images{
    
    display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   margin-bottom: 20px;
}
.info-subimages{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(94, 91, 91);
    margin-bottom: 40px;
}
.real-subimage{
    border: solid #3882F6;
    border-radius: 20px;
}
/* Quote section */
.quote{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}
.quote-inside-box{
    max-width: 1200px;
    width: 100%;
    display: flex;
    min-height: 400px;
    
    align-items: center;
    background-color: #E5E7EB;
    flex-direction: column;
}
.quote-text{
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 36px;
    color: #535d6a;
    font-weight: 300;
    font-style: italic;
    margin-top: 70px;
}
.quote-poet{
    
    align-self: flex-end;
    display: flex;
    margin-right: 20px;
    
}
.poet-name{
    
    display: flex;
    margin-top: -35px;
    

}

.takhalus{
    
    display: inline-block;
    color:  rgb(94, 91, 91);
    font-family: cursive;
    font-size: 20px;
}
.Tanveer{
    display: inline;
    
    font-size: 30px;
    font-weight: bolder;
    color: #303743;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* SIGNUP sectoin */
.signup-box{
    display: flex;
    justify-content: center;
}

.signup-inside-box{
    max-width: 1200px;
    width: 100%;
    display: flex;
    min-height: 400px;
    
    flex-direction: column;
    justify-content: center;

}

.signup-box-blue{
 
 margin: 0 70px;
 padding: 50px 80px ;
 background-color: #3882F6;
 display: flex;
 border-radius: 12px;
 justify-content: space-between;
}

.signup-button-down{
    border: solid white;
    border-width: 1px;
     background-color: #3882F6;
    border-radius: 4px;
    padding: 10px 30px;
    outline: none;
    
}

.signup-hp{
    

}
.signup-heading{
     
     color: #F9FAF8;
     font-size: x-large;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 8px;
}
.signup-para{
     
     color: #F9FAF8;
}
.signup-buton{
     
     align-self: center;
     justify-self: flex-end;
     margin-left: 70px;
     flex-shrink: 0;
}
/* FOOTER section */
footer{
    background-color: #1F2939;
    display: flex;
    justify-content: center;
    
}
.footer-inside-box{
    background-color: #1F2939;
    display: flex;
    min-height: 40px;
    
    max-width: 1200px;
    width: 100%;
    color: white;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}


