body {
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;

}

.header{
    display: flex;
    border: solid red;
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
    background-color: #1F2939;
    color: white;
}
.header-logo{
    padding: 0;
    margin: 0;
    align-items: center;
}

.intro{
    display: flex;
    border: solid red;
    min-height: 400px;
    background-color: #1F2939;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro-text{
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.intro-image{
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    min-height: 400px;
    border: solid red;
}
.quote{
    display: flex;
    min-height: 400px;
    border: solid red;
}

.signup{
    display: flex;
    min-height: 400px;
    border: solid red;
}

footer{
    display: flex;
    min-height: 40px;
    border: solid red;
}


